include src/StructuralGT/configs/*.ini
include src/StructuralGT/apps/sgt_qml/*.qml
include src/StructuralGT/apps/sgt_qml/widgets/*.qml
include src/StructuralGT/apps/sgt_qml/components/*.qml
include src/StructuralGT/apps/sgt_qml/assets/icons/*