include src/sgtlib/utils/*.ini
include src/sgtlib/compute/c_lang/include/*.h
include src/sgtlib/apps/qml/*.qml
include src/sgtlib/apps/qml/assets/icons/*
include src/sgtlib/apps/qml/dialogs/*.qml
include src/sgtlib/apps/qml/layouts/*.qml
include src/sgtlib/apps/qml/Theme/*
include src/sgtlib/apps/qml/widgets/*.qml
include src/sgtlib/apps/qml/windows/*.qml
