requests~=2.32.4
numpy~=2.3.1
packaging~=25.0
ovito~=3.13.0
PySide6~=6.9.1
pillow~=11.3.0
opencv-python~=4.12.0.88
gsd~=4.0.0
matplotlib~=3.10.3
scipy~=1.16.0
pandas~=2.3.1
igraph~=0.11.9
networkx~=3.5
scikit-image~=0.25.2
setuptools~=80.9.0